body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.backgroundImg {
    background-image: url("../Images/20278961.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.small-font {
    font-size: .8em;
    font-family: Tahoma, sans-serif;
}