@model BasicFantasyBeyond.Models.EquipmentModels.EquipmentDetails

@{
    ViewBag.Title = "ManageItems";
}

<h2>ManageItems</h2>

<div>
    @Html.ActionLink("Back to Home","Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}